@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Christoc.Modules.ResoureLibrary.Models.Item>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

<div>
    <h2>@Model.ItemName</h2>
</div>
